@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

a {
    color: rgb(11, 8, 8);
    text-decoration: none;
    font-family: Murecho;
    font-weight: 500;
    font-size: 24px;
}

nav {
    -webkit-backdrop-filter: blur(15px) brightness(100%);
    align-items: flex-start;
    backdrop-filter: blur(15px) brightness(100%);
    background-color: #ffffff38;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    height: 80px;
    left: 178px;
    min-width: 1565px;
    padding: 0 66px;
    position: fixed;
    top: 0;
    z-index: 17;
}
.behindslider{
    height: 300px;
    width: 100%;
    object-fit: cover;
    display: none;
}
.ancre {
    align-items: flex-start;
    align-self: center;
    display: flex;
    margin-bottom: 4px;
    min-width: 781px;
}

.guide {
    align-items: flex-start;
    border-color: var(--black);
    border-right-style: solid;
    border-right-style: 2px;
    display: flex;
    height: 40px;
    justify-content: flex-end;
    margin-left: -20px;
    min-width: 260px;
    padding: 0px 51px;
}

.nos-guides {
    min-height: 46px;
    min-width: 220px;
    font-weight: 500;
}

.circuits {
    align-items: flex-start;
    border-color: var(--black);
    border-right-style: solid;
    border-right-style: 2px;
    display: flex;
    height: 40px;
    justify-content: flex-end;
    margin-left: 1px;
    min-width: 260px;
    padding: 0px 51px;
}

.nos-circuits {
    min-height: 46px;
    min-width: 220px;
}

.contact {
    align-items: flex-start;
    border-color: var(--gray);
    border-right-style: solid;
    border-right-style: 2px;
    display: flex;
    height: 40px;
    justify-content: flex-end;
    margin-left: px;
    min-width: 260px;
    padding: 0px 51px;
}

.nous-contacter {
    min-height: 46px;
    min-width: 220px;
}

.slider{
    overflow: hidden;
    width: 100%;
    height: 815px;
    position: relative;
  }

  figure{
    width: 500%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    transition: all 20s linear;
    animation: 20s slidy infinite ;
  }
  .slide{
    width: 20%;
    height: 100%;
    float: left;
    position: relative;
  }
  .slide img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  @keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
.checkbox:checked+div .RS {
    display: none;
}

.button {
    height: 70px;
    width: 70px;
    margin-top: 5px;
    background-size: contain;
    border: none;
    background-color: transparent;
}

.twitter {
    background-image: url(assets/ICON/Group\ 129.png);
}

.tw {
    height: 70px;
    width: 70px;
    margin-top: -0.5px;
}

.tw:hover {
    filter: opacity(0%);
}

.facebook {
    background-image: url(assets/ICON/facebook2.png);
}

.fb {
    height: 70px;
    width: 70px;
    margin-top: -0.5px;
}

.fb:hover {
    filter: opacity(0%);
}

.instagram {
    background-image: url(assets/ICON/insta2.png);
}

.insta {
    height: 70px;
    width: 70px;
    margin-top: -0.5px;
}

.insta:hover {
    filter: opacity(0%);
}

#burger{
    opacity: 0;
}




.title{
    top: 20px;
    justify-content: center;
    text-align: center;
    position: relative;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    font-family: murecho;
    bottom: 40px;
}

.paragraphe{
    font-family: poppins;
    
    top: 160px;
    justify-content: center;
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    text-align: justify;
}



#cadre0{
    width: 40px;
    height: 40px;
    top: 40px;
    position: relative;
    left: 260px;
  
}
#cadre1{
    width: 40px;
    height: 40px;
    position: relative;
    top: 150px;
    left: 215px;
    transform: rotate(-90deg);
}
#cadre2{
    width: 40px;
    height: 40px;
    left: 1496px;
    top: 150px;
    position: relative;
    transform: rotate(180deg);
}
#cadre3{
    width: 40px;
    height: 40px;
    top: 35px;
    left: 1450px;
    position: relative;
    transform: rotate(90deg);
}

.titre_selector {
    font-family: poppins;
    top: 300px;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
}


.carte{
    height: 863px;
    width: 772px;
    position: relative;
    
}

#carte{
    position: relative;
    left: 128px;
    
    height: 676px;
    width: 772px;
}

.description{
    font-family: murecho;
    height: 576px;
    width: 255px;
    position: relative;
    left: 900px;
    top: 576px;
    
}


.hokkaido{
    width: 255px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 96px;
    padding-top: 30px;
    position: relative ;
    background-color: grey;
}

.kanto{
    font-size: small;
    margin-top: 10px;
    padding-top: 30px;
    width: 270px;
    box-shadow: -3px 2px 7px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    height: 96px;
    position: relative ;
}

.chubu{
    font-size: small;
    margin-top: 20px;
    padding-top: 30px;
    width: 255px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    height: 96px;
    background-color: grey;
    position: relative ;
}

.kansai{
    font-size: small;
    margin-top: 20px;
    padding-top: 30px;
    width: 255px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    height: 96px;
    background-color: grey;
    position: relative ;
}

.chugoku{
    font-size: small;
    margin-top: 20px;
    padding-top: 30px;
    width: 255px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    height: 96px;
    background-color: grey;
    position: relative ;
}

.kyushu{
    font-size: small;
    margin-top: 20px;
   
    padding-top: 30px;
    width: 255px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    height: 96px;  
    background-color: grey; 
    position: relative ;
}

.descriptif{
    position: relative;
    width: 557px;
    height: 675px;
    left: 1170px;
    bottom: 865px;
    background: #FFFFFF;
    box-shadow: 4px 2px 7px rgba(0, 0, 0, 0.25);
    margin: 0;
}




#chefcuisto{
    height: 286px;
    width: 429px;
    margin-top: 50px ;
    margin-left: 60px;
    border-radius: 20px;
    
}

#textechef{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    
}

#titrechef{
    font-family: murecho;
font-size: 24px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0em;
text-align: center;
padding-top:60px;

}

#reservation{
width: 200px;
height: 73px;
left: 10px;
margin-top: 20px;

background: #D32223;
border-radius: 20px;
font-family: poppins;
font-family: 'Murecho';
font-style: normal;
font-weight: 700;
font-size: 26.8235px;
color: #FFFFFF;
padding-bottom: 5px;
border: white;
margin-left: 20px;
}

.satisfaction{
    margin-left: 350px;
    font-family: murecho;
    font-style: normal;
    font-weight: 700;
    font-size: 26.8235px;
    margin-top: -100px;
}

.titreguide{
    position: relative;
    font-family: Murecho;
    font-size: 16px;
    text-align: center;
    bottom: 700px;
    width: 100%;

}

.cadreguide{
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: relative;
    bottom: 600px;
}
.akiko{
    width: 849px;
    height: 566px;
    position: relative;
    left: 0px;
    bottom: 200px;
    align-self: flex-end;
    z-index: 1;
    border-radius: 40px;
}

.cadretexte{
    position: relative;
    width: 828px;
    height: 613px;
    right: 80px;
    background-color: #F9F7F3;
    text-align: justify;
    padding: 100px; 
    border-radius: 40px; 
    position: relative;
    top: 50px;
}

.nomguide{
    font-family: murecho;
    font-weight: 500;
    margin-top: -60px;
    margin-bottom: 20px;
}

.ageguide{
    color: #777373;
    font-family: murecho;
}

#bio{
    color: #777373;
    font-family: poppins;
}

#textakiko{
    font-family: poppins;
    font-size: 14px;
}

.siteincont{
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 500px;

}

.titresites{
    text-align: center;
    font-family: murecho;
    margin-bottom: 100px;
    margin-top: 100px;
}

.gridphoto1{
    display: flex;
    padding-left: 180px;
    padding-right: 180px;
    position: relative;
    width: 100%;
    height: 270px;
    gap: 40px; 
}
.gridphoto2{
    display: flex;
    padding-left: 180px;
    padding-right: 180px;
    position: relative;
    width: 100%;
    height: 270px;
    gap: 40px;
}
    

.gridphoto3{
    display: flex;
    padding-left: 180px;
    padding-right: 180px;
    position: relative;
    width: 100%;
    height: 270px;
    gap: 40px;
}

.nara{
    width: 30%;
    height: 250px;
    object-fit: cover;
}

.kyoto{
    width: 35%;
    height: 250px;
    object-fit: cover;
}
.nagoya{
    width: 45%;
    height: 250px;
    object-fit: cover; 
}

.kamakura{
    width: 38%;
    height: 250px;
    object-fit: cover;
}

.okinawa{
    width: 38%;
    height: 250px;
    object-fit: cover;
}

.beppu{
    width: 20%;
    height: 250px;
    object-fit: cover;
}

.sapporo{
    width: 50%;
    height: 250px;
    object-fit: cover;
}
.fukuoka{
    width: 50%;
    height: 250px;
    object-fit: cover;
}

.titrenews{ 
    text-align: center;
    position: relative;
    bottom: 400px;
    font-family: murecho;
    font-size: 32px;
    
}
#content{
    width: 1007px;
    height: 523.87px;
    background:rgba(255, 255, 255, 1);
    border-radius: 20px;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0.831544px 3.32618px 8.31544px rgba(0, 0, 0, 0.25);
    left: 950px;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

input[type='email']{
    text-align: center;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 41px;
    width: 546px;
    height: 69px;
    font-size: 16px;
    font-family: poppins;
    margin-left: 225px;
    background-color: #F9F7F3;
    margin-top: 15px;
}

input[type='Nom']{
    text-align: center;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 41px;
    width: 546px;
    height: 69px;
    font-size: 16px;
    font-family: poppins;
    margin-left: 225px;
    background-color: #F9F7F3;
    margin-top: 15px;
}

input:focus{
    outline: none;
}

#button{
    text-decoration: none;
    border-radius: 20px;
    width: 27%;
    display: inline-block;
    padding: 8px;
    margin-left: 100px;
    color: #FFFFFF;
    text-align: center;
    border: 2px solid transparent;
    margin-left: 360px;
    margin-top: 50px;
    background-color: #D32223;
}

#button:hover{
    background-color: white;
    color: #D32223;
    transition: ease 0.8s;
}



.titreboxnom{
    text-align: center;
    font-family: murecho;
    margin-top: 100px;
    height: 20px;
    width: 200px;
    margin-left: 250px;
}

.titreboxmail{
    text-align: center;
    font-family: murecho;
    margin-top: 50px;
    height: 20px;
    width: 300px;
    margin-left: 200px;
}

.partenaire{
    font-family: murecho;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.livraison{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -90px;
}
.paiement_secure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.partenaire_officiel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -200px;
}
a:hover {
    color: red;
    transition: color 500ms ease;
}

.image23{
    width: 105px;
    height: 105px;
    margin-left: 25%;
}
.image14{
    width: 271.86px;
height: 146.39px;
margin-left: 5px;

}
.image15{
width: 217.22px;
height: 122.19px;
margin-left: 25px;
}

.Paiements_securises{
    padding-top: 100px;
}

.image22{
    width: 105px;
    height: 105px;
    margin-left: 27%;
}
.image17{
    width: 102.29px;
    height: 63.93px;
}

.image18{
    width: 102.29px;
    height: 63.93px; 
    margin-top: 20px;

}
.image19{
    width: 102.29px;
    height: 63.93px; 
}
.image20{
    width: 102.29px;
height: 63.93px;
}
.image21{
    width: 102.29px;
    height: 63.93px; 
}

.image24{
    width: 105px;
    height: 105px;
    margin-left:40%;
    
}

.image16{
    width: 400px;
    height: 40px;
    margin-top: 138px;
    margin-bottom: -20px;
}

.footer1{
    position: absolute;
    margin-top: 100px;
    background-image: url(assets/img/image\ 25.png);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
}
.planifier{
    text-align: center;
    font-family: murecho;
    position: relative; 
    color: #F9F7F3;
    margin-top: 70px;
}

.conseiller{
    text-align: center;
    margin-top: 50px;
    color: white;
    font-family: poppins;

}

.rsfooter{
    margin-left: 850px;
    margin-top: 50px;
}

.footer2{
    background-color: rgba(48, 48, 48, 1);
    margin-top: 45px;
    width: 100%;
    height: 450px;
    
}

.entreprise{
    text-align: center;
    height: 400px;
    width: 342px;
    color: #FFFFFF;
    margin-left: 70px ;
    font-family: POPPINS;
}

#logo_footer{
    width: 250px;
    height: 150px;
    position: relative;
    top:50px;
    bottom: 50px;
}
#pft2{
    margin-top: 35px;
}

.france{
    font-family: Murecho;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 20px;
}

.adress{
    margin-left: 500px;
    margin-top: -350px;
    font-family: Poppins;
    font-size: 16px;
    letter-spacing: 0em;
    text-align: center;
    width: 354px;
    height: 350px;
    color: #FFFFFF;
    
}

.japon{
    margin-top: 50px;
    margin-bottom: 20px;
}

.help{
    font-family: 'Poppins';
    font-size: 20px;
    width: 342px;
    height: 350px;
    margin-left: 1000px;
    margin-top: -350px;
    color: #FFFFFF;
}


.appel{
    margin-left: 1400px;
    margin-top: -300px;
    text-align: center;
    height: 100px;
    width: 300px;
    font-family: 'Poppins';
    font-size: 20px;
    color: white;
}

#numero_font{
    font-family: murecho;
}

#font_appel{
    font-weight: 300;
}

